<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <img class="w-100" src="/images/banner1.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <img class="w-100" src="/images/ShopByProducts.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand1.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand2.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand3.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand4.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand5.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand6.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand7.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand8.jpg" alt="Card image cap">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-12 col-lg-4 mt-3">
                <img class="w-100" src="/images/brand9.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</section>